In [1]:
using Py

In [2]:
using PyCall

In [3]:
@pyimport pandas as pd

In [4]:
df = pd.DataFrame(
    Dict(
        "name"=>["John", "Jane", "Zack", "Zoey"], 
        "salary"=>[100000, 100000, 100000, 100000]
        )
)

PyObject    name  salary
0  John  100000
1  Jane  100000
2  Zack  100000
3  Zoey  100000

In [5]:
@py df = df.set_index("name")

PyObject       salary
name
John  100000
Jane  100000
Zack  100000
Zoey  100000

In [6]:
@py df["John":"Jane"]

PyObject       salary
name
John  100000
Jane  100000